<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">-->
  <link href="./images/svgSprite/house.svg" rel="icon" type="image/svg+xml" />

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="new houses for sale">
  <link rel="stylesheet" href="./css/main.min.css">
  <script defer src="js/app.min.js"></script>
  <title>@@title</title>
</head>
