.filter {
  padding-bottom: 45px;

  &__label {
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__label-text {
    margin-right: 12px;
    font-weight: 700;

    @media (max-width: 650px) {
      margin: 0 0 15px;
    }
  }

  &__input {
    height: 50px;
    border: 1px solid $borderColor;
    border-radius: 25px;
    max-width: 418px;
    width: 100%;
    padding: 0 25px;
  }
}