.houses {
  padding-bottom: 77px;


  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -22px;
    margin-bottom: 60px;
  }

  &__house {
    display: block;
    flex-basis: calc((100% - 66px) / 3);
    margin: 0 0 38px 22px;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

    @media (max-width: 1200px) {
      flex-basis: calc((100% - 44px) / 2);
    }

    @media (max-width: 650px) {
      flex-basis: 100%;
    }
  }

  &__link-wrapper {
    text-align: center;
  }

  &__link {
    display: inline-block;
    min-width: 150px;
    padding: 12px 10px;
    border-radius: 25px;
    border: 1px solid $borderColor;
    transition: all 0.3s;

    span {
      position: relative;
      padding-right: 15px;

      &::after {
        content: '';
        width: 10px;
        height: 15px;
        top: 1px;
        right: 0;
        position: absolute;
        background-image: url('../images/svgSprite.svg#Chevron');
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.3s ease-in-out;
        transform: translateX(0);
      }
    }

    &:hover {
      border-color: #000;

      span::after {
        transform: translateX(10px);
      }
    }
  }
}

.house-card {
  background-color: $cardBg;
  border: 1px solid $borderColor;
  min-height: 100%;

  &__figure {
    position: relative;
    margin: 0;
    width: 100%;
    height: 277px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__label {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 10px;
    color: $white;
    background-color: $independentLabel;

    &--orange {
      background-color: $supportLabel;
    }
  }

  &__label-orange {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 10px;
    color: $white;
    background-color: $supportLabel;
  }

  &__body {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 20px 20px 17px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 100%;
  }

  &__title {
    flex-grow: 1;
    margin-bottom: 5px;
  }

  &__address {
    margin-bottom: 15px;
  }

  &__footer {
    flex: 0 0 auto;
    padding: 0 20px 17px;
  }
}