.houses {

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: -22px;
  }

  &__house {
    flex-basis: calc((100% - 66px) / 3);
    margin: 0 0 38px 22px;

    @media (max-width: 1200px) {
      flex-basis: calc((100% - 44px) / 2);
    }

    @media (max-width: 650px) {
      flex-basis: 100%;
    }
  }
}

.house-card {
  background-color: $cardBg;
  border: 1px solid $borderColor;

  &__figure {
    position: relative;
    margin: 0;
    width: 100%;
    height: 277px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__label {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 10px;
    color: $white;
    background-color: $independentLabel;
  }

  &__wrapper {
    padding: 20px 20px 17px;
  }

  &__content {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__address {
    margin-bottom: 15px;
  }
}